/** COLORS **/
$background-main: #e3e3e3;
$background-auth: #ffffff;
$btn-auth: #93c273; 
$btn-auth-disabled: #cccccc;
$font-color: #999999;
$border-color: #d7d7d8;
$checkbox-color: #8db96f;


/** FONTS **/
$font-main: Roboto;
